.Button {
    font-size: 1rem;
    align-self: center;
    border-radius: 20px;
    border-color: transparent;
    padding: 3px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
    border:1px solid #ea6715;
  }
  
  .Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
  }
  
  .Button:hover:active {
    background-color: #2142b2 !important;
  }
  
  .Button:active {
    background-color: #2142b2 !important;
  }
  
  .Button:focus {
    background-color: #2142b2;
  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }
  
  .Blue,
  .BlueOutline:hover,
  .Bright:hover {
    background-color: #2142b2;
    color: #ffffff;
  }
  
  .BlueOutline,
  .Blue:hover {
    background-color: #f9e7e7;
    color: #2142b2;
    border: 1px solid #2142b2;
  }
  
  .Black,
  .BlackOutline:hover {
    background-color: #242a3d;
    color: aliceblue;
  }
  
  .Black:hover,
  .BlackOutline {
    background-color: aliceblue;
    color: #242a3d;
    border: 1px solid #242a3d;
  }
  
  .Bright {
    background-color: #fa9455;
    color: #2142b2;
  }
  @media all and (max-width: 468px) {
    .Button {
      padding: 0 7px;
      margin-bottom:5px;
      margin-top:5px;
      font-size: 0.9rem;
    }
  
  }
