.Form {
    border: none;
    border: 1px #00d1ff solid;
  }
  
  /* .Button {
    border: none;
    background-color: #fa9455;
    color: #542204;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
  } */
  
  /* .Button:hover {
    cursor: pointer;
    background-color: aliceblue;
    color: #242a3d;
  } */