.LandingImage {
    height: 500px;
    width: 60%;
    border:1px solid brown;
    border-radius: 20px;
  }

/* Adjust landing page image size on smaller screens */
@media all and (max-width: 440px) {
    .LandingImage {
        width: 200px;
        height: 250px;
    }
    } 