.LandingImage {
    height: 310px;
  }



    /* Adjust landing page image size on smaller screens */
    @media all and (max-width: 440px) {
        .LandingImage {
          width: 200px;
          height: 250px;
        }
      } 