.NavBar {
    /* background-color: #FFDB89; */
    background-color:#fa9455;
    border: 1px solid #c95106;
    font-size: 1.3rem;
}
.NavLink {
    padding: 10px;
    color:black;
}
.Active {
    color: #2142b2;
}
.Active i {
color: #2142b2;
}